USE [Libirary]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2/26/2026 5:10:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[ISBN] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CoverImagePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowRecords]    Script Date: 2/26/2026 5:10:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[BorrowDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/26/2026 5:10:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Title], [Author], [Category], [ISBN], [Quantity], [Description], [CoverImagePath]) VALUES (1, N'dxwxxsx', N'', N'', N'ISBN001', 0, N'Learn C# fundamentals.', N'Images/csharp.jpg')
INSERT [dbo].[Books] ([Id], [Title], [Author], [Category], [ISBN], [Quantity], [Description], [CoverImagePath]) VALUES (2, N'ASP.NET Core', N'David Miller', N'Programming', N'ISBN002', 4, N'Web development with ASP.NET Core.', N'Images/aspnet.jpg')
INSERT [dbo].[Books] ([Id], [Title], [Author], [Category], [ISBN], [Quantity], [Description], [CoverImagePath]) VALUES (3, N'SQL Server Basics', N'Michael Brown', N'Database', N'ISBN003', 6, N'Introduction to SQL Server.', N'Images/sql.jpg')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[BorrowRecords] ON 

INSERT [dbo].[BorrowRecords] ([Id], [UserId], [BookId], [BorrowDate], [ReturnDate], [Status]) VALUES (1, 2, 1, CAST(N'2026-02-26T02:15:32.350' AS DateTime), NULL, N'Borrowed')
INSERT [dbo].[BorrowRecords] ([Id], [UserId], [BookId], [BorrowDate], [ReturnDate], [Status]) VALUES (2, 3, 2, CAST(N'2026-02-26T02:15:32.350' AS DateTime), NULL, N'Borrowed')
INSERT [dbo].[BorrowRecords] ([Id], [UserId], [BookId], [BorrowDate], [ReturnDate], [Status]) VALUES (3, 4, 3, CAST(N'2026-02-21T02:15:32.350' AS DateTime), CAST(N'2026-02-26T02:15:32.350' AS DateTime), N'Returned')
SET IDENTITY_INSERT [dbo].[BorrowRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Role]) VALUES (1, N'Ahmed Hassan', N'ahmed@library.com', N'123456', N'Librarian')
INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Role]) VALUES (2, N'Sara Mohamed', N'sara@library.com', N'123456', N'Member')
INSERT [dbo].[Users] ([Id], [FullName], [Email], [Password], [Role]) VALUES (3, N'Omar Ali', N'omar@library.com', N'123456', N'Member')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__447D36EA4FD6BDC5]    Script Date: 2/26/2026 5:10:45 AM ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053476D789D9]    Script Date: 2/26/2026 5:10:45 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BorrowRecords]  WITH CHECK ADD FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BorrowRecords]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[BorrowRecords]  WITH CHECK ADD CHECK  (([Status]='Returned' OR [Status]='Borrowed'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Member' OR [Role]='Librarian'))
GO
